
.my-header {
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	max-width: 500px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.my-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

